<h1>
  Edit '<%= @blog_post.title %>'
</h1>

<%= render "form", locals: { blog_post: @blog_post } %>

<p>
  <%= button_to "Delete", blog_post_path(@blog_post), method: :delete, data: {turbo_confirm: "Are you sure?"} %>
</p>

<p>
  <%= link_to "Back to index", blog_posts_path %>
</p>

